/* CSS para alterar a aparência do meter */

meter {
    --meter-optimum-color: limegreen; /* Cor ideal */
    --meter-suboptimal-color: gold; /* Cor média */
    --meter-even-less-good-color: rgb(255, 149, 0); /* Cor baixa */
}

/* Especificações para navegadores que suportam webkit (Chrome, Safari, etc.) */
meter::-webkit-meter-bar {
    background: none;
}

meter::-webkit-meter-optimum-value {
    background: limegreen;
}

meter::-webkit-meter-suboptimum-value {
    background: gold;
}

meter::-webkit-meter-even-less-good-value {
    background: rgb(255, 149, 0);
}
